<td>
    <div {{action 'addSourceToCache' on='click'}}>
        <p>
        <strong>@{{source.twitUserScreenName}}</strong>&nbsp;<strong style="color: #777777; font-size: 80%">{{formatedTime}}</strong>
        </p>
        <p>{{source.info}}</p>
        <p style="color: #777777; font-weight: bold;">{{format-time source.twitTime}}</p>
    </div>
    {{#if isMediaExist}}
    <button type="button" class="btn btn-success" aria-label="Left Align" title="Picture" {{action "togglePicture"}}>
        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
    </button>
    {{/if}}
    <button type="button" class="btn btn-warning" aria-label="Left Align" title="Hide" {{action "hide"}}>
        <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-danger" aria-label="Left Align" title="Remove" {{action "remove"}}>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
</td>
