<td>
    <span {{action 'refreshPlace' on='click'}}>
        <strong>{{markerview.category_name}}</strong>&nbsp;
        {{#if markerview.isPlaceNameExist}}
        di&nbsp;{{markerview.place_name}}&nbsp;
        {{/if}}
        {{markerview.info}}&nbsp;&nbsp;
        <strong style="color: #777777;">{{formatedTime}}</strong>
        &nbsp;({{format-time markerview.created}}).
        <strong>{{markerview.respondent_name}}</strong>&nbsp;&#45;&nbsp;
        <strong>{{markerview.respondent_contact}}</strong>.
    </span>
</td>
